{% extends 'newsletter/base.html' %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">Дата и время начало рассылки: {{ mailings.first_send }}</p>
                        <p class="card-text">Дата и время окончание рассылки: {{ mailings.end_send }}</p>
                        <p class="card-text">Статус: {{ mailings.status }}</p>
                        <p class="card-text">Сообщение: {{ mailings.text }}</p>
                        <p class="card-text">Получатель: {{ mailings.client }}</p>
                        <p class="card-text">Владелец: {{ mailings.owner }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{% url 'newsletter:mailings_list' %}" role="article">Назад</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}